* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: whitesmoke;
  --font-headers: cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.primary-headers {
  font-family: var(--font-headers);
  color: var(--text-color);
  font-size: 50px;
  text-shadow: 0 0 5px;
}

.secondary-headers {
  font-family: var(--font-headers);
  color: var(--text-color);
  font-size: 30px;
  text-shadow: 0 0 5px;
}
/*Header section*/
header {
  padding: 30px 200px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url("../images/background.jpg");
  background-size: 100%;
}

header nav {
  margin-top: -1%;
}

header h1 a {
  text-decoration: none;
  float: right;
  color: whitesmoke;
  text-shadow: 0 0 5px;
  font-size: 60px;
  font-family: cursive;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 30px;
  font-family: var(--font-headers);
  color: whitesmoke;
  text-shadow: 0 0 50px;
  text-decoration: none;
}
/*End Header Section*/
/*About Me Section*/
.about-me {
  display: flex;
  background-color: rgb(33, 39, 54);
}

.about-me-header {
  padding-top: 17px;
  padding-left: 44px;
  padding-bottom: 5px;
  border-top: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}
.about-me p {
  padding: 15px;
  color: var(--text-color);
  font-size: 20px;
}
/*End About Me*/

/*My Work Section*/
.my-work {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/background-my-work.jpg);
  background-size: 100%;
}

.my-work-header {
  padding: 17px;
  border-top: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  height: 149.5%;
  position: absolute;
  background-color: rgb(33, 39, 54);
}

.projects {
  text-align: center;
  padding: 2%;
}
.my-work img {
  height: 150%;
  width: 100%;
}

.horiseon img {
  padding-top: 3%;
  height: auto;
  width: 50%;
}

.run-buddy h3 {
  padding-top: 8%;
  padding-left: 58%;
}

.run-buddy img {
  padding: 2% 5% 5%;
  float: right;
  height: auto;
  width: 40%;
}
/*end my work*/

/*footer section */
footer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  background-color: black;
  border-top: 2px solid whitesmoke;
}

footer h2 {
  padding-bottom: 2%;
}

footer a {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
}

footer ul {
  padding-right: 6%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}
/* end footer */

/*Responsiveness for smaller screens */

@media screen and (max-width: 980px) {
  /* header media q */
  header {
    padding-right: 120%;
    justify-content: center;
  }
  header h1 a {
    font-size: 40px;
  }

  header nav ul li a {
    float: left;
    text-align: center;
  }

  /*about me media q */
  .about-me {
    margin-top: -2%;
    flex-direction: column;
  }
  .about-me p {
    font-size: 15px;
    padding-right: 46%;
  }

  /*my work media q*/
  .my-work {
    flex-direction: column;
  }

  .my-work h2 {
  }

  .my-work-header {
    height: 15%;
    padding-left: 30%;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
